@import "./variables";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  background-color: rgb(126, 183, 202);
  // background-color:red;
  overflow-x: hidden;
  height:100%;
}

header {
  .navbar {
    top: 0;
    right: 0;
    left: 0;
    max-height: 4em;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    span {
      height: 4em;
      margin-left: 0.5em;
      padding-bottom: 2em;
      font-size: map-get($font, smaller);
      a {
        padding-top: 2.5em;
        font-size: map-get($font, huge);
      }
    }

    .hamburger {
      height: 1em;
      width: 1em;
      float: right;
      margin-right: 2em;
      margin-top: 1.5em;
      // display: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
    .navList {
      margin-top: 1em;
      margin-bottom: 1em;
      text-align: center;
      li {
        width: 100%;
        text-align: center;
        @include medQuery(350px){
          float: left;
          width: 100%;
          .hamburger{
            display: block;
          }
        }
        @include medQuery(425px){
          float: left;
          width: 50%;
          .hamburger{
            display: block;
          }
        }
        @include medQuery(700px){
          float: left;
          width: 33.3%;
        }
        @include medQuery(800px){
          float: left;
          .hamburger{
            display: block;
          }
        }










      }
      a {
        font-size: map-get($font, veryLarge);
        margin-top: 1.5em;
        padding-bottom: 2em;
    }
  }

  .showList {
    max-height: 20em;
  }
}

.about-book {
  background-color: rgb(52, 77, 102);
  h1 {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 2em;
  }
  img{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    padding-bottom: 2em;
  }
}

//ABOUT ME
.about-me {
  width: 100%;
  margin-bottom: 1em;

  h2, h3 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  p {
    width: 90%;
    font-size: map-get($font, medium);
    text-align: center;
    // font-size: 2em;
    margin-left: 3%;
    margin-bottom: 2.7em;
  }
  .teachingHead {
    margin-top: 1.8em;
  }
  img {
    width: 90%;
    margin-left: 1em;
  }
  .paraAudio {
    font-size: map-get($font, veryLarge);
    margin-bottom: 0.5em;
    text-align: center;
  }
  audio {
    width: 70%;
    height: 3em;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}













//SLIDESHOW
.testimonials {
  background-color: rgb(145, 152, 161);
  h2{
    padding-top: 3em;
    margin-bottom: 1.7em;
    text-align: center;
    // background-color: green;
  }
  // margin-bottom: 6em;
  .slideshow-container {
    position: relative;
    height: 100%;
    width: 100%;
    a {
      position: absolute;
      background: rgb(192, 170, 170);
      width: 1em;
      height: 1.4em;
      top: 50%;
      transform: translateY(-50%);
      font-size: map-get($font, smaller);
      padding-left: 0.5em;
      &:hover {
        cursor: pointer;
      }
    }
    .prev {
        left: .8em;
      }
    .next {
      right: .8em;
    }
    .slide {
      width: 100%;
      display: none;
      img {
        width: 100%;
      }
      blockquote {
        display: none;
      }
    }
    .dots-container {
      position: absolute;
      top: 20em;
      left: 12em;
      display: inline-block;
      padding-left: 0.7em;
      background-color: rgb(80, 75, 75);
      width: 10em;
      .dot {
        display: inline-block;
        background-color: rgb(155, 146, 146);
        border: 1px solid black;
        color: white;
        margin-right: 12px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }

      .active {
        background-color: white;
      }
    }
  }
}









//TEST STARTS HERE

.test {
  background-color: rgb(57, 3, 252);
  // height: 100vh;
  .test-instructions {
    .knowledgeTest {
      padding-top: 3em;
      text-align: center;
      font-size: map-get($font, veryLarge);
      margin-left: 1em;
      margin-right: 1em;
    }

    .chose {
      margin-top: 1.4em;
      text-align: center;
      font-size: map-get($font, large);
    }
  }

  #quiz {
    width: 90%;
    margin: 1em auto;

    .question {
      padding: 1em 0;
      background-color: lightgrey;

      .question-text {
        padding-left: 1.5em;
        font-size: map-get($font, medium);
      }

      .answers {
        padding: 1em;
        background-color: #fff;

        label {
          margin: 0.6em;
          display: block;

          span {
            font-size: map-get($font, medium);
          }
        }
      }

      .correctAns {
        display: none;
      }

      .errMessage {
        display: none;
        padding-left: 1em;
        margin-left: 1em;
        font-size: map-get($font, medium);
        background-color: red;
      }

      // .check-btn-container {
      //   padding: 1.5em;
      //   .check {
      //     box-shadow: 6px 2px 5px 0px rgba(0, 0, 0, 0.75);
      //     padding: 1em;
      //     border-radius: 10%;
      //     font-size: 40em;
      //   }
      //   .note {
      //     display: none;
      //     margin-top: 2em;
      //     // font-size: 1.4em;
      //     font-size: 4em;
      //   }
      // }
    }

    .check-btn-container {
      margin-top: 1.4em;
      // padding: 1em;

      .check {
        box-shadow: $box-shadow;
        // box-shadow: 6px 2px 5px 0px rgba(0, 0, 0, 0.75);
        padding: 0.7em;
        border-radius: 10%;
        font-size: map-get($font, medium);
      }

      .note {
        display: none;
        margin-top: 2em;
        font-size: map-get($font, medium);
      }
    }

    .check {
      font-size: map-get($font, medium);
      background-color: lightblue;
    }

    .scoreContainer {
      .scoreHeading {
        display: none;
        @include verdictReset;
        font-size: map-get($font, large);

      }
    }

    .finalVerdict {
      .verdict {
        display: block;
        font-size: map-get($font, smaller);
        // padding: 0.5em 0.7em;
        // font-size: 1.2em;
        @include verdictReset;
      }
    }

    .reset {
      .resetBtn {
        display: none;
        margin-left: 2em;
        @include verdictReset;
        border-radius: 50px;
        box-shadow: 6px 2px 5px 0px rgba(0, 0, 0, 0.75);

      }
    }
  }
}

.activeGreen {
  background-color: green;
  color: white;
}

.activeRed {
  background-color: red;
}

.age {
  width: 3em;
  height: 2em;
  background-color: black;
  color: white;
}












footer{
  display: grid;
  // height: 14em;
  grid-template-columns: 1fr;
  grid-template-areas: "h2"
                        "p";
  background-color: color(big);

  .footerContactDetails{
  h2 {
    grid-area: h2;
    text-align: center;
    padding-top: 1.3em;
    padding-bottom: .8em;
  }
  p {
    grid-area: p;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 1.2em;
  }
}
  .footerNav ul{
    display: grid;
    // height: 8em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2.3em);
    grid-template-areas: 
                        "home aboutMe testimonials"
                        "contactMe testYourself companiesTaught";
    li{
      font-size: 1.2em;
      a{
        color: white;
        margin-left: .5em;
      }
    }
    .home{
      grid-area: home;
      color: white;
    }
    .aboutMe{
      grid-area: aboutMe;
    }
    .contactMe{
      grid-area: contactMe;
    }
    .testimonials{
      grid-area: testimonials;
    }
    .testYourself{
      grid-area: testYourself;
    }
    .companiesTaught{
      grid-area: companiesTaught;
    }
  }
}