@import "./variables";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: white;

  @include medQuery(1100px) {
    margin-top: 5em;
    width: 100%;
  }
  .container {
    @include medQuery(1100px) {
      margin: 0 auto;
    }
  }
  h1,
  h2 {
    color: map-get($color, navy);
  }
  h3 {
    color: map-get($color, secondary);
  }
  button {
    background-color: map-get($color, navy);
    border-radius: 25px;
  }
  strong {
    color: map-get($color, navy);
  }
}

header {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    opacity: 0.9;
    max-height: 4em;
    background-color: map-get($color, secondary);
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    @include medQuery(350px) {
      max-height: 4em;
    }
    @include medQuery(991px) {
      top: 0;
      right: 0;
      left: 0;
    }
    @include medQuery(1100px) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      opacity: 1;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    span {
      display: inline-block;
      height: 2em;
      margin-top: 1em;
      margin-left: 1em;
      @include medQuery(768px) {
        font-size: map-get($font, medium);
      }
      @include medQuery(991px) {
        float: left;
        font-weight: bold;
        margin: 0.5em 0em 1em 2em;
      }
      @include medQuery(1100px) {
        margin: 0em 0em 1em 2em;
        font-size: 2em;
      }
      a {
        font-size: map-get($font, large);
        color: white;
      }
    }
    hr {
      @include medQuery(350px) {
        display: none;
      }
    }
    .hamburger {
      @include medQuery(350px) {
        height: 1.5em;
        width: 1.5em;
        float: right;
        margin-right: 2em;
        margin-top: 1.1em;
        cursor: pointer;
        display: block;
      }
      @include medQuery(991px) {
        display: none;
      }
      @include medQuery(1100px) {
        float: none;
      }
    }
    .navList {
      text-align: center;
      @include medQuery(425px) {
        margin-top: 1em;
        width: 100%;
      }
      @include medQuery(991px) {
        top: 0;
        margin-top: 0.5em;
        margin-right: 2em;
        margin-left: 10em;
        padding-top: 0;
        padding-bottom: 1em;
        width: 85%;
      }
      @include medQuery(1100px) {
        margin-bottom: 0;
        padding-bottom: 0;
        width: 82%;
        margin-left: 20%;
        margin-right: 0;
      }
      li {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-top: 1em;

        @include medQuery(425px) {
          float: left;
          padding-top: 0;
          width: 100%;
        }
        @include medQuery(991px) {
          width: 15%;
          float: none;
          margin-top: 0;
          margin-right: 1%;
          font-size: map-get($font, small) * 1.5;
        }
        @include medQuery(1100px) {
          width: 14%;
        }
      }
      a {
        display: inline-block;
        color: white;
        font-size: map-get($font, large);
        &:hover {
          text-decoration: underline;
        }
        @include medQuery(425px) {
          margin-top: 0.5em;
          padding-bottom: 0.5em;
        }
        @include medQuery(991px) {
          padding: 0;
        }
      }
    }
  }
  .showList {
    max-height: 23em;
    @include medQuery(991px) {
      max-height: 4em;
    }
  }
}







.intro {
  @include medQuery(425px) {
    padding-top: 0.5em;
  }
  @include medQuery(991px) {
    padding-top: 1em;
  }
  .introHeading {
    @include medQuery(425px) {
      text-align: center;
      margin: 1em 5% 0.5em;
      font-size: map-get($font, veryLarge);
      padding-top: 1.5em;
    }
    @include medQuery(576px) {
      font-size: map-get($font, huge);
      margin-top: 0.5em;
    }
    @include medQuery(1100px) {
      margin-top: 0;
      padding-top: 0.5em;
    }
  }
  .introContainer {
    @include medQuery(991px) {
      float: left;
      width: 100%;
      margin-bottom: 2em;
    }
  }
  .everywherePara,
  .question,
  .bookPara {
    @include medQuery(425px) {
      margin-top: 1em;
      font-size: map-get($font, large);
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      text-align: center;
    }
    @include medQuery(898px) {
      margin-top: 0.8em;
    }
  }
  .everywherePara {
    @include medQuery(991px) {
      margin-top: 2.3em;
      font-size: map-get($font, large);
    }
  }
  .question {
    @include medQuery(425px) {
      margin-top: 2em;
      margin-bottom: 1.5em;
      font-size: map-get($font, medium);
    }
    @include medQuery(576px) {
      font-size: map-get($font, medium) * 1.1;
    }
    @include medQuery(700px) {
      font-size: map-get($font, medium) * 1.2;
    }
    @include medQuery(898px) {
      font-size: map-get($font, medium) * 1.4;
      margin-top: 1.5em;
    }
    @include medQuery(991px) {
      margin-top: 1.9em;
    }
  }
  .everywherePara,
  .question {
    @include medQuery(991px) {
      float: left;
      width: 30%;
    }
  }
  .bookPara {
    @include medQuery(425px) {
      margin-top: 2em;
      line-height: 1.2;
      font-size: map-get($font, medium);
    }
    @include medQuery(425px) {
      margin-top: 1.5em;
    }
    @include medQuery(700px) {
      font-size: map-get($font, large);
      margin-top: 1em;
    }
    @include medQuery(898px) {
      font-size: map-get($font, large) * 1.1;
      margin-top: 1.3em;
    }
    @include medQuery(991px) {
      clear: both;
      margin-bottom: 2.5em;
    }
    span {
      @include medQuery(425px) {
        font-size: map-get($font, medium) * 1.1;
        text-decoration: underline;
      }
    }
  }
}












.about-book {
  border-top: 1px transparent solid;

  @include medQuery(425px) {
    clear: both;
    padding-top: 2.5em;
  }
  @include medQuery(700px) {
    padding-top: 1em;
  }
  @include medQuery(991px) {
    padding-top: 2.8em;
  }
  @include medQuery(1100px) {
    padding-top: 3em;
    margin-top: 0;
  }
  h1 {
    @include medQuery(425px) {
      text-align: center;
      margin-left: 50%;
      transform: translateX(-50%);
      font-size: map-get($font, veryLarge);
      margin-top: 2em;
      margin-bottom: 1em;
      width: 90%;
    }
    @include medQuery(480px) {
      padding-bottom: 1em;
    }
    @include medQuery(576px) {
      padding-bottom: .5em;
    }
    @include medQuery(700px) {
      font-size: map-get($font, huge);
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0.5em;
    }
    @include medQuery(898px) {
      font-size: map-get($font, large) * 2;
      margin-top: 1.2em;
    }
    @include medQuery(991px) {
      font-size: map-get($font, large) * 1.5;
      margin-top: 1em;
      padding-bottom: 1em;
      width: 85%;
    }
    @include medQuery(1100px) {
      padding-bottom: 0.5em;
      text-align: center;
      font-size: map-get($font, huge);
    }
  }
  .imgDiv {
    width: 100%;
    @include medQuery(320px) {
      margin-left: 50%;
      transform: translateX(-50%);
    }
    @include medQuery(1100px) {
      width: 80%;
    }
  }
  img {
    @include medQuery(425px) {
      margin-bottom: 0.5em;
      width: 80%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    @include medQuery(475px) {
      width: 60%;
    }
    @include medQuery(700px) {
      width: 50%;
      padding-bottom: 1em;
      margin-top: 0;
    }
    @include medQuery(898px) {
      margin-bottom: 1em;
      padding-bottom: 0;
      width: 35%;
      height: 21em;
    }
    @include medQuery(991px) {
      margin-top: -1em;
      width: 52%;
      padding-top: 0;
      height: 25em;
    }
    @include medQuery(1100px) {
      width: 35%;
      margin-top: 0;
      height: 23em;
      margin-bottom: 0em;
    }
  }

  .buyIt {
    background-color: map-get($color, navy);
    a {
      color: white;
    }

    @include medQuery(350px) {
      padding-left: 5%;
      padding-right: 5%;
      margin-left: 50%;
      margin-bottom: 2em;
      transform: translateX(-50%);
      text-align: center;
      height: 2em;
      font-size: map-get($font, large);
      &:hover {
        cursor: pointer;
      }
    }
    @include medQuery(480px) {
      margin-top: 1.3em;
    }
    @include medQuery(576px) {
      margin-top: .8em;
    }
    @include medQuery(700px) {
      margin-top: 0.5em;
    }
    @include medQuery(898px) {
      margin-top: 0.8em;
    }
    @include medQuery(991px) {
      margin-top: 0.5em;
    }
  }
  // .paypalBtn{
  //   @include medQuery(1100px){
  //     margin-left: 40%;
  //     // background-color: red;
  //     width: 5em;
  //     height: 6em;
  //     margin-bottom: 2em;
  //     float: left;
  //   }
  // }
}

.about-me {
  clear: both;
  @include medQuery(425px) {
    padding-top: 2em;
    margin-bottom: 0;
  }
  @include medQuery(576px) {
    padding-top: 2.5em;
    margin-bottom: 1em;
  }
  @include medQuery(898px) {
    padding-top: 3em;
    margin-top: 1em;
  }
  @include medQuery(991px) {
    padding-top: 5em;
    text-align: center;
  }
  @include medQuery(1100px) {
    padding-top: 0.5em;
  }
  h1 {
    @include medQuery(425px) {
      font-size: map-get($font, huge);
      width: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 2em;
      text-align: center;
    }
    @include medQuery(991px) {
      margin-top: 1.3em;
    }
    @include medQuery(1100px) {
      margin-top: 3em;
    }
  }
  p {
    width: 90%;
    margin: 1em auto;
    text-align: center;
    font-size: map-get($font, medium);
  }
  h3 {
    font-size: map-get($font, large);
    color: map-get($color, secondary);
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
  }
  @include medQuery(425px) {
    width: 100%;
  }

  .materialsDiv {
    @include medQuery(425px) {
      text-align: center;
      width: 100%;
    }
    @include medQuery(991px) {
      float: left;
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  .teachingDiv {
    @include medQuery(425px) {
      transition: transformX(50%, -50%);
    }
    @include medQuery(991px) {
      width: 43%;
      margin-left: 2%;
      margin-right: 2%;
      float: left;
    }
  }
  .testingDiv {
    @include medQuery(425px) {
      width: 100%;
    }
    @include medQuery(991px) {
      clear: both;
      margin-left: 5%;
      margin-right: 3%;
      float: left;
      width: 43%;
    }
  }
  .developingDiv {
    @include medQuery(425px) {
      margin-bottom: 5em;
    }
    @include medQuery(991px) {
      float: left;
      width: 45%;
      margin-bottom: 7em;
    }
  }

  .sampleDiv {
    clear: both;
    @include medQuery(425px) {
      margin-bottom: 3em;
      padding-top: 0;
      padding-bottom: 3em;
      padding-left: 0;
      padding-right: 0;
      height: 3em;
      p {
        @include medQuery(425px) {
          width: 100%;
          font-size: map-get($font, smaller) * 1.5;
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    @include medQuery(480px) {
      margin-top: 0.2em;
      height: 1em;
      font-size: map-get($font, medium);
    }

    audio {
      @include medQuery(425px) {
        margin-left: 50%;
        transform: translateX(-50%);
      }
      @include medQuery(991px) {
        width: 50%;
      }
    }
    .sampleAudio {
      @include medQuery(425px) {
        margin-bottom: 3em;
      }
    }
  }
}

//SLIDESHOW
.testimonials {
  clear: both;
  @include medQuery(991px) {
    clear: both;
  }
  @include medQuery(1100px) {
    margin-top: 0;
    padding-top: 1em;
  }
  h1 {
    @include medQuery(425px) {
      font-size: map-get($font, veryLarge);
      text-align: center;
      margin-top: 4em;
      margin-bottom: 1.4em;
      margin-left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding-top: 3em;
    }
    @include medQuery(480px) {
      padding-top: 2.6em;
    }
    @include medQuery(700px) {
      margin-top: 3em;
      margin-bottom: 1em;
      padding-top: 2.2em;
      font-size: map-get($font, veryLarge);
    }
    @include medQuery(898px) {
      margin-top: 0;
    }
    @include medQuery(991px) {
      margin-left: 40%;
      transform: translateX(-40%);
    }
    @include medQuery(1100px) {
      margin-top: 1em;
      margin-bottom: 0;
      padding-top: 1em;
      font-size: map-get($font, veryLarge);
      height: 2em;
      text-align: center;
    }
  }

  .slideshow-container {
    // display: none;
    position: relative;
    height: 100%;
    width: 100%;

    .slide {
      width: 100%;
      display: none;
      img {
        @include medQuery(425px) {
          width: 100%;
          height: 67vh;
        }
        @include medQuery(480px) {
          height: 69vh;
        }
        @include medQuery(700px) {
          height: 79vh;
        }
        @include medQuery(1100px) {
          height: 78.5vh;
        }
      }
      blockquote {
        @include medQuery(425px) {
          background-color: rgba(0, 0, 0, 0.3);
          color: white;
          padding: 2em 7em 2em 2em;
          width: 90%;
          margin: 0;
          top: 0;
          left: 0;
          bottom: 3px;
          right: 0;
          text-align: center;
          display: block;
          position: absolute;
          font-size: map-get($font, medium);
          width: 80%;
        }
        @include medQuery(768px) {
          font-size: map-get($font, large);
        }
        @include medQuery(991px) {
          width: 93%;
        }
      }
    }
    a {
      position: absolute;
      background: whitesmoke;
      color: map-get($color, navy);
      border-radius: 50%;
      width: 1em;
      height: 1.4em;
      top: 50%;
      transform: translateY(-50%);
      font-size: map-get($font, smaller);
      padding-left: 0.5em;
      &:hover {
        cursor: pointer;
      }
    }
    .prev {
      left: 0.8em;
    }
    .next {
      right: 0.8em;
    }
    .dots-container {
      @include medQuery(425px) {
        position: absolute;
        display: inline-block;
        border-radius: 25px;
        background-color: whitesmoke;
        width: 10em;
        padding-left: 1.1em;
        padding-top: 0.4em;
        padding-bottom: 0.3em;
        top: 25em;
        left: 29%;
      }
      @include medQuery(480px) {
        top: 26em;
        left: 31%;
      }
      @include medQuery(576px) {
        left: 35%;
      }
      @include medQuery(700px) {
        top: 30em;
        left: 38%;
      }
      @include medQuery(898px) {
        left: 41%;
      }
      @include medQuery(991px) {
        left: 43%;
      }
      .dot {
        display: inline-block;
        border: 1px solid black;
        margin-right: 12px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
      .active {
        background: map-get($color, navy);
      }
    }
  }
}







//TEST STARTS HERE

.test {
  @include medQuery(425px) {
    padding-top: 3em;
    .test-instructions {
      @include medQuery(425px) {
        font-size: map-get($font, large);
        .knowledgeTest {
          @include medQuery(425px) {
            text-align: center;
            margin-top: 1.5em;
            margin-bottom: 1em;
          }
          @include medQuery(480px) {
            margin: 1em 0.8em;
          }
          @include medQuery(576px) {
            margin: 0.5em 0.8em;
          }
          @include medQuery(700px) {
            padding-top: 1.8em;
          }
          @include medQuery(898px) {
            margin-top: 1em;
          }
          @include medQuery(991px) {
            margin-top: 0;
          }
        }
      }
      .chose {
        @include medQuery(425px) {
          font-size: map-get($font, smaller);
          margin-bottom: 1.8em;
          text-align: center;
        }
        @include medQuery(576px) {
          margin-top: 1em;
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }
  }
  #quiz {
    @include medQuery(991px) {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    .question {
      @include medQuery(350px) {
        margin-bottom: 4.5em;
      }
      .question-text {
        @include medQuery(350px) {
          font-size: map-get($font, medium) * 1.1;
          margin-left: 5%;
          margin-top: 1em;
          margin-bottom: 1em;
          width: 90%;
        }
      }
    }
    .answers {
      label {
        @include medQuery(425px) {
          margin-left: 10%;
          display: block;
          margin-bottom: 1em;
        }
        span {
          @include medQuery(425px) {
            font-size: map-get($font, medium);
          }
        }
      }
    }
    .correctAns {
      @include medQuery(350px) {
        display: none;
        margin-left: 5%;
        margin-bottom: 1em;
        font-size: map-get($font, medium);
      }
    }
    .errMessage {
      @include medQuery(425px) {
        display: none;
        color: red;
        font-size: map-get($font, medium) * 1.3;
        margin-left: 5%;
      }
    }
    .check-btn-container {
      @include medQuery(425px) {
        height: 100%;
        width: 80%;
        margin-top: 1em;
        margin-bottom: 4em;
        margin-left: 50%;
        transform: translateX(-50%);
      }
      .check {
        color: white;
        @include medQuery(425px) {
          outline: none;
          width: 75%;
          margin-top: 0;
          margin-bottom: 1em;
          padding: 1em 5%;
          margin-left: 50%;
          transform: translateX(-50%);
          font-size: map-get($font, medium);
        }
      }
      .note {
        @include medQuery(425px) {
          display: none;
          margin-top: 1em;
          text-align: center;
          font-size: map-get($font, medium);
        }
      }
    }
    .scoreContainer {
      @include medQuery(425px) {
        margin-top: 0.6em;
        margin-bottom: 3em;
        width: 100%;
        display: block;
      }
      .scoreHeading {
        @include medQuery(425px) {
          display: none;
          text-align: center;
          width: 100%;
        }
      }
    }
    .finalVerdict {
      @include medQuery(425px) {
      }
      .verdict {
        @include medQuery(425px) {
          text-align: center;
        }
      }
    }
    .reset {
      @include medQuery(350px) {
        display: none;
        width: 80%;
        margin-top: 2em;
        margin-bottom: 4em;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
      @include medQuery(991px) {
        margin-top: 5em;
        display: none;
      }
      .resetBtn {
        @include medQuery(350px) {
          font-size: map-get($font, large);
          margin-left: 50%;
          transform: translateX(-50%);
          padding: 0.5em;
          width: 50%;
          border-radius: 25px;
        }
      }
      a {
        color: white;
      }
    }
  }

  .activeGreen {
    color: rgb(37, 160, 37);
    font-weight: bold;
  }
  .activeRed {
    color: red;
    font-weight: bold;
  }

  .age {
    width: 3em;
    height: 2em;
    background-color: black;
    color: white;
  }
}

footer {
  margin-top: 0;
  padding-bottom: 2em;
  height: 13em;
  background-color: map-get($color, accent);
  @include medQuery(425px) {
    height: 16em;
  }
  @include medQuery(480px) {
    height: 14em;
  }
  @include medQuery(576px) {
    height: 15em;
  }
  @include medQuery(991px) {
    margin-left: 0;
    height: 14em;
  }
  @include medQuery(1100px) {
    margin-left: 0;
    height: 15em;
  }
  .footerContactDetails {
    padding-bottom: 1em;
    @include medQuery(898px) {
      width: 100%;
    }
    h2 {
      text-align: center;
      padding-top: 1.3em;
      padding-bottom: 0.8em;
      @include medQuery(898px) {
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
    p {
      text-align: center;
      font-size: 1.2em;
      padding-bottom: 1em;
      @include medQuery(898px) {
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .paypalBtn {
    display: none;
    margin-left: 45%;
  }

  //FOOTER
  .footerNav ul {
    @include medQuery(350px) {
      width: 100%;
      display: inline-block;
      padding-bottom: 0.5em;
      margin-bottom: 0;
      margin-left: 0.1em;
      float: left;
      font-size: map-get($font, smaller) * 1.2;
    }

    @include medQuery(480px) {
      margin-left: 2%;
      width: 95%;
      font-size: map-get($font, smaller) * 1.1;
    }
    @include medQuery(576px) {
      width: 90%;
      padding-left: 3%;
    }
    @include medQuery(700px) {
      width: 100%;
      margin-left: 0;
    }
    @include medQuery(898px) {
      margin-left: 10%;
      width: 90%;
    }
    @include medQuery(991px) {
      margin-left: 0;
      width: 100%;
    }
    @include medQuery(1100px) {
      height: 3em;
      margin-left: 3%;
    }
    li {
      font-size: map-get($font, smaller);
      @include medQuery(350px) {
        display: inline-block;
        width: 20%;
        margin-left: 20%;
        margin-right: 0.5em;
        float: left;
        margin-top: 0;
        text-align: center;
      }
      @include medQuery(425px) {
        margin-top: 0.5em;
        margin-left: 1%;
        width: 30%;
        margin-right: 2%;
        &:nth-child(7) {
          width: 100%;
        }
      }
      @include medQuery(480px) {
        font-size: map-get($font, smaller);
      }
      @include medQuery(576px) {
        margin-right: 2%;
        margin-bottom: 0.3em;
        height: 1em;
      }
      @include medQuery(700px) {
        margin-left: 0;
      }

      @include medQuery(898px) {
        width: 25%;
        margin-left: 6%;
        transform: translateX(-50%);
      }
      @include medQuery(991px) {
        font-size: map-get($font, smaller) * 1.1;
        width: 11%;
        margin-left: 3%;
        float: left;
      }
      a {
        @include medQuery(350px) {
          font-size: map-get($font, smaller);
          margin-top: 0;
          margin-right: 1.5em;
          margin-left: 0;
          width: 100%;
          float: left;
          color: map-get($color, big);
          &:hover {
            text-decoration: underline;
          }
        }
        @include medQuery(425px) {
          font-size: map-get($font, smaller);
          text-align: center;
        }
        @include medQuery(576px) {
          font-size: map-get($font, medium);
        }
        @include medQuery(700px) {
          margin-left: 0;
          margin-right: 0;
        }
        @include medQuery(898px) {
          font-size: map-get($font, smaller);
          padding-left: 0;
          text-align: center;
        }
      }
    }
    .copyright {
      @include medQuery(425px) {
        margin-top: 1.5em;
      }
      @include medQuery(898px) {
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 1.5em;
        margin-left: 45%;
        transform: translateX(-50%);
      }
    }
  }
}
