$color:(
	bbg:#FDFFFC,
	primary: lighten(#2EC4B6,44%),
	secondary: rgb(99, 133, 201),
	accent: #40a7a9
);
$font:(
	veryLarge: 2em,
	large: 1.5em,
	medium: 1.2em,
	smaller: 1em,
	small: .5em
);

// rgb(237, 238, 240)
// #0d8e93